*.bak
.Rhistory
*.rec
*.#*
*._*
*.DS_Store
*.pdf
*.png
*.jpg
*.hds
*.dat
*_par*
*unirandpar*
*covrandpar*
R_Files/Post-Processing/*.txt
R_Files/Post-Processing/*.txt
R_Files/Post-Processing/*.pdf
R_Files/Post-Processing/*.rch
R_Files/Post-Processing/*.sfr
R_Files/Post-Processing/*.wel
R_Files/Post-Processing/*.zone
R_Files/Post-Processing/*.obs
R_Files/Post-Processing/*.lst
R_Files/Post-Processing/*.txt
R_Files/Post-Processing/Results
R_Files/Post-Processing/CovRandPar_out
R_Files/Post-Processing/UniRandPar_out
R_Files/Post-Processing/Results
R_Files/Post-Processing/Results_2020
_scratchwork_and_figure_tests
Scenarios
SWBM/scenario_archive
MODFLOW/scenario_archive
SVIHM_Input_Files/reference_data/i04_VICGRid.cpg
SVIHM_Input_Files/reference_data/i04_VICGRid.dbf
SVIHM_Input_Files/reference_data/i04_VICGRid.prj
SVIHM_Input_Files/reference_data/i04_VICGRid.sbn
SVIHM_Input_Files/reference_data/i04_VICGRid.sbx
SVIHM_Input_Files/reference_data/i04_VICGRid.shp
SVIHM_Input_Files/reference_data/i04_VICGRid.shp.xml
SVIHM_Input_Files/reference_data/i04_VICGRid.shx
SVIHM_Input_Files/reference_data/dwr_climate_change_factors_et_precip.csv
R_Files/Post-Processing/Zonebudget postprocessing/SVIHM.cbb
